

başlık {
    display: block;
    font-weight: dold;
    margin-bottom: 24px;
}

mısra{
    display: block;
}

dortluk{
    display: blok;
    margin-bottom: 16px
}


sair{
    display: block;
    font-style: italic;
}